<section>
    <h2>Calendar</h2>
<article class="event-post">
 <div id="calendar"></div>
  {{!-- <form class="new-event-form">
  <div>
    <textarea name="calendar-body"></textarea>
  </div>

  <div>
    <button type="submit">add event</button>
  </div>
</form> --}}
</article>
</section>

<script src="/javascript/add-event.js"></script>