<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    {{/each}}
</ol>

<div id="weather-container"></div>

{{#if loggedIn}}
<script src="/javascript/weather.js"></script>
{{/if}}