<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.ico" />
  <title>Common Unity</title>
  <!--<link rel="stylesheet" href="/stylesheets/style.css">-->
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Comm[on]unity</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/yourpage">yourpage</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>