<section>
    <h2>Calendar</h2>
{{!-- 
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
    </form> --}}
</section>

<script src="/javascript/add-post.js"></script>