<ol class="post-list">
    {{!-- //added this so that some description of what the user is looking at when they land on the main page and see post.handlebars in the body --}}
        <section>
          <h2> Community Posts</h2>
      </section>
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    
    {{/each}}

{{!-- the idea here is to print the calendar and have it populated with any dates that the user selected for events?
in terms of styleing, this would be better on the left right of the comments section --}}
{{!-- how to collect this input? should i do an input field with button. Or have a calendar event post be part of the post object? --}}
    {{> calendar}}
    
</ol>

<div id="weather-container"></div>

{{#if loggedIn}}
<script src="/javascript/weather.js"></script>
{{/if}}