<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    {{/each}}
    <div>
        <label for="email-login">test:</label>
        <input type="text" id="email-login" />
    </div>
</ol>