

<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for = 'post-text'>Post</label>
            <input id = 'post-text' name = 'post-text' />
        </div>
        <button type = 'submit' class = 'btn'>Create</button>
    </form>
</section>

 {{#if loggedIn}}  
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/yourpage/edit/{{post.id}}" class="edit-post">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section> 
{{/if}} 

<<<<<<< HEAD
=======
<script src="/javascript/add-post.js"></script>
>>>>>>> c11200b6946a4b5e331280b292d1a1f78bd62b0a
